extends layout

block content
  h1= title
  p posts#{title}
  p posts#{title}
  p posts#{title}
  p posts#{title}
  p posts#{title}
  p posts#{title}
  p posts#{title}
  p posts#{title}
  p posts#{title}
  p posts#{title}
  p posts#{title}
  p posts#{title}
  p posts#{title}
  p posts#{title}
  p posts#{title}
  p posts#{title}
  p posts#{title}
  p posts#{title}
  p posts#{title}
  p posts#{title}
  p posts#{title}
  p posts#{title}
  p posts#{title}
  p posts#{title}