<% include ../partials/header %>
<div id="wrapper">
  <div class="search-row-wrapper" style="background-image: url(images/bg.jpg);">
    <div class="inner">
      <div class="container">
        <form action="#" method="GET">
          <div class="row">
            <div class="col-md-3">
              <input
                class="form-control keyword"
                type="text"
                placeholder="e.g. Mobile Sale"
              />
            </div>
            <div class="col-md-3">
              <select
                class="form-control selecter"
                name="category"
                id="search-category"
              >
                <option selected="selected" value="">All Categories</option>
                <option
                  value="Vehicles"
                  style="background-color: #e9e9e9; font-weight: bold;"
                  disabled="disabled"
                  >- Vehicles -</option
                >
                <option value="Cars">Cars</option>
                <option value="Commercial vehicles">Commercial vehicles</option>
                <option value="Motorcycles">Motorcycles</option>
                <option value="Motorcycle Equipment"
                  >Car &amp; Motorcycle Equipment</option
                >
                <option value="Boats">Boats</option>
                <option value="Vehicles">Other Vehicles</option>
                <option
                  value="House"
                  style="background-color: #e9e9e9; font-weight: bold;"
                  disabled="disabled"
                  >- House and Children -</option
                >
                <option value="Appliances">Appliances</option>
                <option value="Inside">Inside</option>
                <option value="Games">Games and Clothing</option>
                <option value="Garden">Garden</option>
                <option
                  value="Multimedia"
                  style="background-color: #e9e9e9; font-weight: bold;"
                  disabled="disabled"
                  >- Multimedia -</option
                >
                <option value="Telephony">Telephony</option>
                <option value="Image">Image and sound</option>
                <option value="Computers">Computers and Accessories</option>
                <option value="Video">Video games and consoles</option>
                <option
                  value="Real"
                  style="background-color: #e9e9e9; font-weight: bold;"
                  disabled="disabled"
                  >- Real Estate -</option
                >
                <option value="Apartment">Apartment</option>
                <option value="Home">Home</option>
                <option value="Vacation">Vacation Rentals</option>
                <option value="Commercial">Commercial offices and local</option>
                <option value="Grounds">Grounds</option>
                <option value="Houseshares">Houseshares</option>
                <option value="Other real estate">Other real estate</option>
                <option
                  value="Services"
                  style="background-color: #e9e9e9; font-weight: bold;"
                  disabled="disabled"
                  >- Services -</option
                >
                <option value="Jobs">Jobs</option>
                <option value="Job application">Job application</option>
                <option value="Services">Services</option>
                <option value="Price">Price</option>
                <option value="Business">Business and goodwill</option>
                <option value="Professional">Professional equipment</option>
                <option
                  value="dropoff"
                  style="background-color: #e9e9e9; font-weight: bold;"
                  disabled="disabled"
                  >- Extra -</option
                >
                <option value="Other">Other</option>
              </select>
            </div>
            <div class="col-md-3">
              <select
                class="form-control selecter"
                name="location"
                id="id-location"
              >
                <option selected="selected" value="">All Locations</option>
                <option value="AL">Rochester</option>
                <option value="AK">Webster</option>

                <option value="Other-Locations">Other Locations</option>
              </select>
            </div>
            <div class="col-md-3">
              <button class="btn btn-block btn-primary btn-gradient">
                Search <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- /.search-row -->
  <h1>Posts Index!</h1>
  <% posts.forEach(function (post) { %>

  <div class="item-list">
    <div class="row">
      <div class="col-md-2 no-padding photobox">
        <div class="add-image">
          <span class="photo-count"><i class="fa fa-camera"></i> 2 </span>
          <a href="/posts/<%= post.id %>">
            <img
              class="thumbnail no-margin"
              src="<%= post.images[0].url %>"
              alt="img"
          /></a>
        </div>
      </div>
      <!--/.photobox-->
      <div class="col-md-7 add-desc-box">
        <div class="ads-details">
          <h5 class="add-title">
            <a href="/posts/<%= post.id  %>"> <h2><%= post.title %></h2> </a>
          </h5>
          <span class="info-row">
            <span class="date"
              ><i class="icon-clock"> </i> <%= post.timestamp.toDateString()
              %></span
            >- <span class="category">Electronics </span>-
            <span class="item-location"
              ><i class="fa fa-map-marker-alt"></i> <%= post.location %>
            </span>
          </span>
        </div>
      </div>
      <!--/.add-desc-box-->
      <div class="col-md-3 text-right price-box">
        <h2 class="item-price">$ <%= post.price %></h2>
        <a class="btn btn-danger btn-sm make-favorite">
          <i class="fa fa-certificate"></i>

          <span>Top Ads</span>
        </a>
        <a class="btn btn-secondary btn-sm make-favorite">
          <i class="fa fa-heart"></i> <span>Save</span>
        </a>
      </div>
      <!--/.add-desc-box-->
    </div>
  </div>

  <% }) %>
</div>
